body{
    background-color: #edeef5;
    font-family: "Poppins", sans-serif;
    
}
 .col-md-8{
    background-color: #fff;

}
.col-md-3{
    padding-left:50px;
    padding-top: 60px;
    
}
.card{
    border-radius: 15px;
    width: 370px;
    height: 110px;
    padding-left: 20px;
}
.icon{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.data-body{
   
    padding-left: 70px;
}
input[type="file"] {
    position: relative;
    border: none;
    display: inline;
    display: flex;
    justify-content: center;
  }
  
 input[type="file"]::file-selector-button {
    width: none;
    color: transparent; 
    background-color: #fff;
  }
  
  /* Faked label styles and icon */
input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 100px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
 input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 20px;
    color: #0964b0;
    
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    border: none;
    margin-right: 16px;
    transition: background-color 200ms;
  }

.modal-body svg{
  display: flex;
  align-items: center;
  justify-content: center;
  
}