body{
    font-family: "Poppins", sans-serif;
    background-color: #EDEEF5;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 200px;
    margin-bottom: 60px;
}
.button{
    padding: auto;
    margin-top: 40px;
}
.button a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    position: relative;
    width: 120px;
    height: 50px;
    margin-left: 700px;
    margin-bottom: 300px;
    background-color: #444DDA;
    border-radius: 1px soild #444DDA;
    border: #444DDA;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}